/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
}

/* Header styles */
header {
    background-color: #e7e2e2;
    color: #111613;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: url("homepage.jpg") no-repeat;
    background-size: 100% 60%;
    background-attachment: fixed;
}

.logo {
    padding-left: 700px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 10px;
    margin-top: 30px;
    width: 140px;
    height: 100px;
    font-size: 20px;
}

nav a {
    color: #201b1b;
    text-decoration: right;
}

/* Main styles */
main {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    color: #01040f;
    height: 0cap;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: right;
    padding: 10px;
    background-color: bisque;
}

th {
    background-color: bisque;
    color: #1b1616;
}

tr:nth-child(even) {
    background-color: darkslategray;
}

p.test1 {
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(143, 206, 243);
    color: maroon;
    font-family: 'Bold Art';
}

.itemImage {
    height: 140px;
    width: 200px;
}


.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.cart-row {
    display: flex;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    header {
        font-size: 1.2rem;
        padding: 10px;
        background: url("1.jpg") no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    nav ul {
        flex-direction: right;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
        margin-top: 30px;
        width: 140px;
        height: 100px;
        font-size: 20px;
    }

    .itemImage {
        height: 100px;
        width: 140px;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

    input[type="text"]:focus,
    input[type="number"]:focus {
        outline: none;
        border: 2px solid #ccebcd;
    }

button[name="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #8dbdf5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

    button[name="submit"]:hover {
        background-color: #9fc8e9;
    }

input[type="button"],
input[type="submit"] {
    background-color: #80bcdf;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
}

#txtCaptcha,
#txtCompare {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}


#btnrefresh,
#btnValid {
    background-color: #83a5c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

    #btnrefresh:hover,
    #btnValid:hover {
        background-color: #0c0101;
    }


#error-msg {
    color: rgb(81, 235, 227);
    font-weight: bold;
    margin-top: 20px;
}

.success-msg {
    color: rgb(145, 229, 229);
    font-weight: bold;
    margin-top: 20px;
}
